@font-face {
    font-family: InterMedium;
    src: url('/latin.woff2');
}


* {
	box-sizing: border-box;
}

body {
	font-family: InterMedium;
	background: #222222;
	color: white;
}
.header {
	padding: 40px;
	text-align: center;
	background: #556055;
	color: white;
	font-size: 20px;
}


.navbar {
	overflow: hidden;
	background: #333333;
}

.navbar a, .side a, .main a {
	float: left;
	display: block;
	color: #77bb77;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a.right {
	float: right;
}

a:hover {
	color: #cccccc;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 30%;
	background: #334433;
	padding: 30px;
	max-width: 270px;
}

.main {
	flex: 70%;
	background: #555555;
	padding: 30px;
	align-content: center;
}

@media screen and (max-width: 500px) {
	.row {
		flex-direction: column;
	}
	.side {
		background: #222222;
	}
}

@media screen and (max-width:300px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}

.footer {
	padding: 8px;
	text-align: center;
	background: #333333;
	position: static;
	font-size: 8px;
	color: #999999;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

#pfp {
	max-width: 33%;
	width: auto;
	height: auto;
}
