* {
	box-sizing: border-box;
}

body {
	font-family: Inter;
	background: #222222;
	color: white;
}
.header {
	padding: 40px;
	text-align: center;
	background: #556055;
	color: white;
}

.header h1 {
	font-size: 40px;
}

.navbar {
	overflow: hidden;
	background: #333333;
}

.navbar a, .side a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a.rigth {
	float: right;
}

.navbar a:hover, .side a:hover {
	color: #cccccc;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 20%;
	background: #1d1d1d;
	padding: 20px;
}

.main {
	flex: 80%;
	background: #888888;
	padding: 20px;
}

@media screen and (max-width: 500px) {
	.row {
		flex-direction: column;
	}
}

@media screen and (max-width:300px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}

.footer {
	padding: 10px;
	text-align: center;
	background: #333333;
	position: static;
	font-size: 8px;
	color: #999999;
}

#notfound {
	background: #770000;
	margin-top: 10px;

}

#notfound a {
	color: white;
	display: block;
	padding: 14px 20px;
	font-size: 20px;
}

#notfound p {
	font-size: 20px;
}

#notfound a:hover {
	color: #cccccc;
}

img {
	width: 100%;
	height: auto;
}