body {
	background: #222222;
	font-family: Inter;
	color: white;
}

.header {
	text-align: center;
	background: #662222;
	padding: 5% 5%;
}

a {
	color: white;
	display: block;
	padding: 14px 20px;
	font-size: 20px;
}